@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


#plasmo-shadow-container {
    position: absolute !important;
    bottom: 0  !important;
    right: 0 !important;
    z-index: auto !important;
}

#plasmo-overlay-0 {
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

